<div class="wrapper">
  <div class="iphone" style="height: fit-content;">
      <header class="header">
        <h1>Payment Methods</h1>
      </header>
    
      <form [formGroup]="paymentForm" (ngSubmit)="submit()" class="form">
  
        <fieldset>
          <div class="form__radios">
              <div class="form__radio">
                  <label for="cardpayment">
                    <i class="fa-solid fa-credit-card" style="color: #5585d8;"></i>
                    Card Payment</label>
                  <input checked id="cardpayment" value="cardpayment" type="checkbox" (change)="changeMethods('card')" [checked]="selectedMethods.includes('card')"/>
              </div>
  
            <div class="form__radio">
              <label for="qr"><i class="fa-solid fa-qrcode" style="color: #000000;"></i>QR Payment</label>
              <input id="qr" value="qr" type="checkbox" (change)="changeMethods('qr')" [checked]="selectedMethods.includes('qr')"/>
            </div>
    
            <div class="form__radio">
              <label for="paypal"><i class="fa-brands fa-paypal" style="color: #005eff;"></i>PayPal</label>
              <input id="paypal" value="paypal" type="checkbox" (change)="changeMethods('paypal')" [checked]="selectedMethods.includes('paypal')" />
            </div>
  
            <div class="form__radio">
              <label for="bitcoin"><i class="fa-brands fa-bitcoin" style="color: #ffd700;"></i>Crypto</label>
              <input id="bitcoin" value="crypto" type="checkbox" (change)="changeMethods('crypto')" [checked]="selectedMethods.includes('crypto')"/>
            </div>

            
            <div class="form__radio mt-3" *ngIf="showInputForAccNumber">
              <label><i class="fa-solid fa-credit-card" style="color: #5585d8;"></i>Account Number</label>
              <input type="text" formControlName="accountNumber" class="form-control" style="background-color: aliceblue; margin-left: 10px;"/>
            </div>
          </div>
        </fieldset>
    
        <div>
          <button class="button button--full" type="submit"><i class="fa-solid fa-cart-shopping"></i>Subscribe</button>
          <button class="button button--full mt-3" (click)="logout()">Logout</button>
        </div>
      </form>
    </div>
  </div>